*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    height: 600px;
    width: 400px;
    border: 1px solid grey;
    background-color: #213155;
    padding-top: 1rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.screen{
    border: 1px solid white;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.screen-text{
    padding: 0 0.5rem;
    width: 100%;
    font-size: 5rem;
    text-align: right;

}

.buttons-wrapper{
    display: flex;
    height: 75%;
}

.buttons-numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 75%;
    height: 100%;

}

.buttons-operators{
    width: 25%;
    display: flex;
    flex-direction: column;
}


.button{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: auto;
    height: auto;
    min-height: 0;
}

.number:hover{
    background-color: #293f72;
}

.operator{
    background-color: lightcoral;
}

.operator:hover{
    background-color: coral;
}

